extends layout

block head
  link(rel='stylesheet', href='/stylesheets/codemirror/codemirror.css')
  link(rel='stylesheet', href='/stylesheets/codemirror/#{editorTheme}.css')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/codemirror/codemirror.js')
  script(type='text/javascript', src='/javascripts/codemirror/util/closetag.js')
  script(type='text/javascript', src='/javascripts/codemirror/util/formatting.js')
  script(type='text/javascript', src='/javascripts/codemirror/mode/xml/xml.js')
  script(type='text/javascript', src='/javascripts/codemirror/mode/htmlmixed/htmlmixed.js')
  script(type='text/javascript', src='/javascripts/cfunctions.js')
  script(type='text/javascript')
    $(document).ready(function() {
      ClientFunctions();
    });

block content
  div.span12
    textarea(rows='20', id='editor')
    form
      fieldset
        p
          div(class='btn-group span2')
            a(class='btn', id='saveTemplateButton') Templates
            a(class='btn dropdown-toggle', data-toggle="dropdown")
              span(class='caret')
            ul(class='dropdown-menu')
              div(id='templatesPlaceholder')
              li(class='divider')
              li
                a(href='#modalDialog', id='manageTemplates')
                  i(class='icon-edit')
                  |  Manage templates
        p
          div(class='btn-group span2')
            a(class='btn') Destination
            a(class='btn dropdown-toggle', data-toggle="dropdown")
              span(class='caret')
            ul(class='dropdown-menu')
              div(id='destinationPlaceholder')
              li(class='divider')
              li
                a(href='#modalDialog', id='manageDestinations')
                  i(class='icon-edit')
                  |  Manage destinations
        p
          input.span4(type='text', id='url', placeholder='URL') 
          //input.span1(type='text', placeholder='Count', id='reqCount', maxlength='7', value='99999') 
          //input.span1(type='text', placeholder='Parallelism', id='parallelism', maxlength='3', value='1')
        p
          button.span2(class='btn btn-primary', id='sendMessageButtonSingle') Single message
          //button.span2(class='btn btn-warning', id='sendMessagesButtonMulti') Start transaction
    textarea.span6(rows='10', cols='40', id='log')
  div(class='modal-destinations modal fade', id='modalDestinationEditor')
    div(class='modal-header')
      button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
      h3 Manage your destinations
    div(class='modal-body')
      p Currently known destination systems:
      table(class='table table-bordered table-condensed')
        thead
          tr
            th.span1 Name
            th URL
            th &nbsp;
        tbody(id='destinationTableBody')
      p
        a(href='#', id='addDestination') Add new destination
      div(id='newDestinationForm')
        form(class='form-inline')
          fieldset
            input(class='input-small', type='text', placeholder='Name', id='inDestinationName', maxlength='30')
            input(class='input-xlarge',type='text', placeholder='URL', id='inDestinationURL', maxlength='128')
            button(type='submit', class='btn btn-primary', id='destinationSaveButton') Save
    div(class='modal-footer')
      a(href='#', class='btn', data-dismiss='modal', aria-hidden='true') Close
  div(class='modal-destinations modal fade', id='modalTemplatesEditor')
    div(class='modal-header')
      button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
      h3 Manage your templates
    div(class='modal-body')
      p Templates:
      table(class='table table-bordered table-condensed')
        thead
          tr
            th.span4 Name
            th &nbsp;
        tbody(id='templatesTableBody')
      p Save current document to database:
      div(class='input-append')
        input(class='span3', type='text', placeholder='Enter name', id='templateNewName', maxlength='50')
        button(class='btn', type='button', id='saveCurrentDocAsTemplate') Save
    div(class='modal-footer')
      a(href='#', class='btn', data-dismiss='modal', aria-hidden='true') Close
  div(class='modal-destinations modal fade', id='hintsModal')
    div(class='modal-header')
      button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
      h3 Some nice hints
    div(class='modal-body')
      p Use variables in your templates.
      | The application will replace the variables with their values as soon as you select them.
      ul
        li %yesterday% will be replaced with e.g. 2013-03-18
        li %today% will be replaced with e.g. 2013-03-19
        li %tomorrow% will be replaced with e.g. 2013-03-20
    div(class='modal-footer')
      a(href='#', class='btn', data-dismiss='modal', aria-hidden='true') Close