extends layout

block head
  link(rel='stylesheet', href='/stylesheets/codemirror/codemirror.css')
  link(rel='stylesheet', href='/stylesheets/codemirror/#{editorTheme}.css')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/codemirror/codemirror.js')
  script(type='text/javascript', src='/javascripts/codemirror/util/closetag.js')
  script(type='text/javascript', src='/javascripts/codemirror/mode/xml/xml.js')
  script(type='text/javascript', src='/javascripts/codemirror/mode/htmlmixed/htmlmixed.js')
  script(type='text/javascript', src='/javascripts/cfunctions.js')
  script(type='text/javascript')
    $(document).ready(function() {
      
      ClientFunctions();
    });

block content
  div.span12
    form
      fieldset
        textarea.span6(rows='20', id='editor')
        p
        div(class='input-append span7')
          input(class='span5', type='text', id='url', value='http://10.32.93.216/INT/W6PIncomingProcessor.asp')
          button(type='button', class='btn') Send message
        div(class='btn-group span2')
          a(class='btn') Destination
          a(class='btn dropdown-toggle', data-toggle="dropdown")
            span(class='caret')
          ul(class='dropdown-menu')
            div(id='destinationPlaceholder')
            li(class='divider')
            li
              a(href='#modalDialog', id='manageDestinations')
                i(class='icon-edit')
                |  Manage Destinations
  div(class='modal-destinations modal fade', id='modalDestinationEditor')
    div(class='modal-header')
      button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
      h3 Manage your destinations
    div(class='modal-body')
      p Currently known destination systems:
      table(class='table table-bordered table-condensed')
        thead
          tr
            th.span1 Name
            th URL
            th &nbsp;
        tbody(id='destinationTableBody')
      p
        a(href='#', id='addDestination') Add new destination
      div(id='newDestinationForm')
        form(class='form-inline')
          fieldset
            input(class='input-small', type='text', placeholder='Name', id='inDestinationName', maxlength='30')
            input(class='input-xlarge',type='text', placeholder='URL', id='inDestinationURL', maxlength='128')
            button(type='submit', class='btn btn-primary', id='destinationSaveButton') Save
    div(class='modal-footer')
      a(href='#', class='btn', data-dismiss='modal', aria-hidden='true') Close
