doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/jquery-1.8.1.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    block head
  body
    div.navbar
      div.navbar-inner
        a.brand #{title}
        ul.nav
          li.active 
            a(href='/') Home
          li 
            a(href='http://www.google.de') Item 2
          li 
            a(href='http://www.heise.de') Item 3
    block content